__pycache__
output/*
res/*
data/*
samples_DBLP_20241208.pt
samples_DBLP_20241215.pt
samples_IoT_20250108.pt
samples_RW_20250109.pt
samples_WIDE_20250108.pt
.vscode/*
sync.ffs_db
BASELINES/tgn/saved_models/*.pth
BASELINES/EvolveGCN/data/*
samples_DBLP_20250119_V2_completion.pt
samples_IoT_20250119_completion.pt
samples_RW_20250119_completion.pt
samples_lastfm_20250409.pt
samples_reddit_20250409.pt
samples_wikipedia_20250409.pt
